html, body {
    margin: 0;
    padding: 0;
    background-color: #1A255E;
	
display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
	
}
canvas {
  display: block;
 background-color: rgba(20, 40, 90, 0.5);
}
